<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <form data-ng-show="!vm.isAuthenticated" data-ng-submit="vm.login()">
                            <input data-ng-model="vm.username" placeholder="Username" type="text"/>
                            <input data-ng-model="vm.password" placeholder="Password" type="password"/>
                            <input type="submit" value="Login" />
                        </form>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
